<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Meteo</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.4/css/bulma.min.css" />
    <!-- <link rel="stylesheet" href="/static/css/bulma-calendar.min.css" /> -->
    <script src="https://jsuites.net/v4/jsuites.js"></script>
    <link rel="stylesheet" href="https://jsuites.net/v4/jsuites.css" type="text/css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css" type="text/css" />
</head>

<body>
    <section class="hero is-primary is-fullheight">

        <div class="hero-head">
            <nav class="navbar">
                <div class="container">
                    <div id="navbarMenuHeroA" class="navbar-menu">
                        <div class="navbar-end">
                            <a href="{{ url_for('main.index') }}" class="navbar-item">
                                Home
                            </a>
                            {% if current_user.is_authenticated %}
                              <a href="{{ url_for('main.locations') }}" class="navbar-item">
                                  Locations
                              </a>
                              <a href="{{ url_for('main.weights') }}" class="navbar-item">
                                  Weights
                              </a>
                              <a href="{{ url_for('auth.logout') }}" class="navbar-item">
                                  Logout
                              </a>
                            {% else %}
                              <a href="{{ url_for('auth.login') }}" class="navbar-item">
                                  Login
                              </a>
                              <a href="{{ url_for('auth.signup') }}" class="navbar-item">
                                  Sign Up
                              </a>
                            {% endif %}
                        </div>
                    </div>

            </nav>
        </div>

        <div class="hero-body">
            <div class="container">
               {% block content %}
               {% endblock %}
            </div>
        </div>
    </section>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="/static/js/utils.js"></script>
    <!-- <script src="/static/js/bulma-calendar.min.js"></script> -->
    <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>

    {% block js %}
    {% endblock %}
</body>

</html>
