{% extends "base.html" %}

{% block content %}
<h1 class="title has-text-centered">
  Edit location
</h1>



<div class="box" style="min-height: 70vh">
  <div class="block mx-auto my-6" style="max-width: 80%">
    <form id="update_location" method="POST" action="/locations/{{ location.id }}">
    <div class="field">
      <label class="label">Name</label>
      <div class="errors has-text-danger mb-2"></div>
      <div class="control">
        <input name="name" class="input" type="text" placeholder="Location name" value="{{ location.name }}">
      </div>
    </div>

    <div class="field">
      <div class="label is-normal">
        <label class="label">Valid from/until</label>
      </div>
      <div class="field-body">
        <div class="field">
          <div class="errors has-text-danger mb-2"></div>
          <p class="control is-expanded">
          <input name="valid_from" class="input" id="valid-from" type="text" value="{{ location.valid_from }}">
          </p>
        </div>
        <div class="field">
          <div class="errors has-text-danger mb-2"></div>
          <p class="control is-expanded">
            <input name="valid_until" class="input" id="valid-until" type="text" value="{{ location.valid_until }}">
          </p>
        </div>
      </div>
    </div>

    <div class="field is-grouped mt-5">
      <div class="control">
        <button class="button is-link">Update location</button>
      </div>
      <div class="control">
        <a href="/locations" class="button is-link is-light">Back</a>
      </div>
    </div>
  </form>
  </div>
</div>



{% endblock %}

{% block js %}
<script>
  $(document).ready(function() {
    $('#update_location').submit(function(e) {
      e.preventDefault();
      submitForm('#update_location', function() {
         window.location = '/locations';
      });
    });

    jSuites.calendar(document.getElementById('valid-from'), {
      type: 'year-month-picker',
      format: 'YYYY-mm',
    });
    jSuites.calendar(document.getElementById('valid-until'), {
      type: 'year-month-picker',
      format: 'YYYY-mm',
    });
  });
</script>
{% endblock %}
