{% extends "base.html" %}

{% block content %}
<h1 class="title has-text-centered">
  Locations
</h1>




<div class="box" style="min-height: 70vh">
  {% with messages = get_flashed_messages() %}
    {% if messages %}
        <div class="notification is-success">
            {{ messages[0] }}
        </div>
    {% endif %}
  {% endwith %}

  <a class="button is-link" href="/locations/new">Add new location</a>

  <table class="mt-4 table is-striped is-fullwidth is-hoverable">
    <thead>
      <th>
        Location
      </th>
      <th>
        Valid from
      </th>
      <th>
        Valid until
      </th>
      <th>
        Actions
      </th>
    </thead>
    <tbody>
      {% for location in locations %}
        <tr>
          <td>
            <a class="has-text-link" href="/locations/{{ location.id }}">{{ location.name }}</a>
          </td>
          <td>
            {{ location.valid_from }}
          </td>
          <td>
            {{ location.valid_until }}
          </td>
          <td>
            <a class="has-text-link" href="/locations/{{ location.id }}/edit">Edit</a>
            <a class="has-text-link ml-5" href="/locations/{{ location.id }}/delete">Delete</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}
