{% extends "base.html" %}

{% block content %}
<h1 class="title has-text-centered">
  New location
</h1>



<div class="box">
  <form id="create_location" method="POST" action="/locations">
    <div class="field">
      <label class="label">Name</label>
      <div class="errors has-text-danger mb-2"></div>
      <div class="control">
        <input name="name" class="input" type="text" placeholder="Location name">
      </div>
    </div>

    <div class="field">
      <div class="label is-normal">
        <label class="label">Valid from/until</label>
      </div>
      <div class="field-body">
        <div class="field">
          <div class="errors has-text-danger mb-2"></div>
          <p class="control is-expanded">
            <input name="valid_from" class="input" id="valid-from" type="text">
          </p>
        </div>
        <div class="field">
          <div class="errors has-text-danger mb-2"></div>
          <p class="control is-expanded">
            <input name="valid_until" class="input" id="valid-until" type="text">
          </p>
        </div>
      </div>
    </div>

    <div class="field is-grouped mt-5">
      <div class="control">
        <button class="button is-link">Submit</button>
      </div>
      <div class="control">
        <a href="/locations" class="button is-link is-light">Back</a>
      </div>
    </div>
  </form>
</div>



{% endblock %}

{% block js %}
<script>
  $(document).ready(function() {
    $('#create_location').submit(function(e) {
      e.preventDefault();
      submitForm('#create_location', function() {
         window.location = '/locations';
      });
    });

    jSuites.calendar(document.getElementById('valid-from'), {
      type: 'year-month-picker',
      format: 'YYYY-mm',
    });
    jSuites.calendar(document.getElementById('valid-until'), {
      type: 'year-month-picker',
      format: 'YYYY-mm',
    });
  });
</script>
{% endblock %}
